body {
    display: flex;
    flex-direction: row;
    height: 99.7vh;
    margin: 0;
    width: 98.7vw;
    border: black solid 1px;
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    width: 36px;
    background: #285A91;
    padding: 12px 0;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 14px;
    }

    .top {
        position: relative;
        top: 0px;
    }

    .mid {
        position: relative;
        top: 45px;
    }

    .bot {
        position: relative;
        top: 360px;
    }

    img {
        width: 26px;
        height: 26px;
        object-fit: contain;
        cursor: pointer;
    }
}

.headerandmain {
    display: flex;
    flex-direction: column;
    width: 99%;
    background-color: #F4F7FC;

    header {
        height: 44px;
        background: #DEE8F3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px 16px 6px 14px;

        h2 {
            margin: 0;
            font-size: 22px;
            font-weight: 700;
        }

        .ctadiv {
            display: flex;
            align-items: center;
            gap: 8px;

            p {
                margin: 0;
                font-size: 16px;
            }

            img {
                width: 44px;
                height: 44px;
            }
        }
    }

    main {
        padding: 20px 60px 20px 30px;
        display: flex;
        gap: 14px;
        align-items: flex-start;

        h3 {
            margin: 0 0 10px;
            font-size: 22px;
            font-weight: 700;
            color: #6B7C8F;
        }

        h4 {
            margin: 0 0 4px;
            padding-bottom: 2px;
            font-size: 20px;
            font-weight: 500;
            color: #6B7C8F;
            border-bottom: 1px solid #b9c5d6;
        }

        .subjectlist, .schedule {
            background: #FFFF;
            border-radius: 4px;
            padding: 12px 14px;
            height: 450px;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
        }

        .subjectlist {
            flex: 1.5;

            > div {
                background: #DEE8F3;
                border-radius: 6px;
                padding: 8px 11px 9px;
                margin-bottom: 8px;
            }
        }

        .schedule {
            flex: 1;

            > div {
                background: #DEE8F3;
                border-radius: 6px;
                padding: 8px 11px 9px;
                margin-bottom: 8px;
            }
        }
    }


}