.howitworks {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #F4F7FC;
    margin: 0;
}

.howitworks section {
    flex: 1;
    width: 300px;
    height: auto;
    padding: 20px;
}

.howitworks section h4 {
    font-size: 50px;
    margin: 0;
    font-weight: 200;
}

.howitworks section p {
    margin: 0;
    text-justify: center;
    font-size: 18px;
}

.howitworks section div{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fffbf4;
    overflow: hidden;    
    position: relative;
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.howitworks section div img{
    height: 500px;
}
