footer {
    display: flex;
}

footer div {
    flex: 2 1;
}

footer div p {
    font-size: 23px;
    margin: 0;
    height: 170px;
    color: #6B7C8F;
    background-color: #FFFF;
    padding: 0 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div ul {
    display: flex;
    background-color: #DEE8F3;
    flex-direction: column;
    list-style-type: none;
    height: 170px;
    justify-content: space-evenly;
    font-size: 20px;
    margin: 0;
    color: #24150E;
}