.features {
    display: flex;
    flex-direction: column;
    background-color: #DEE8F3;
    height: 274px;
    padding: 40px;
}

.fbox {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .box1 {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 250px;
    height: auto;
    padding: 10px;
    flex: 1;
    border-radius: 8px 0 8px 8px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, .15);
}

.box1 section {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    background-color: #D5E0EC;
    margin-bottom: 10px;
}

.box1 section img {
    width: 40px;
    height: 40px;
}

.box1 section h5 {
    flex: 1;
    font-size: 18px;
    text-align: center;
    font-weight: 100;
    margin: 5px;
    color: #3976B8;
}

.box1 p {
    margin: 5px;
    font-size: 14px;
    text-align: justify;
    color: #6B7C8F;
}

.box2 {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 250px;
    height: auto;
    padding: 10px;
    flex: 1;
    border-radius: 8px 0 8px 8px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, .15);
}

.box2 section {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    background-color: #D5E0EC;
    margin-bottom: 10px;
}

.box2 section img {
    width: 40px;
    height: 40px;
}

.box2 section h5 {
    flex: 1;
    font-size: 18px;
    text-align: center;
    font-weight: 100;
    margin: 5px;
    color: #3976B8;
}

.box2 p {
    margin: 5px;
    font-size: 14px;
    text-align: justify;
    color: #6B7C8F;
}

.box3 {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 250px;
    height: auto;
    padding: 10px;
    flex: 1;
    border-radius: 8px 0 8px 8px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, .15);
}

.box3 section {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    background-color: #D5E0EC;
    margin-bottom: 10px;
}

.box3 section img {
    width: 40px;
    height: 40px;
}

.box3 section h5 {
    flex: 1;
    font-size: 18px;
    text-align: center;
    font-weight: 100;
    margin: 5px;
    color: #3976B8;
}

.box3 p {
    margin: 5px;
    font-size: 14px;
    text-align: justify;
    color: #6B7C8F;
}
}

.fdescription {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.fdescription h4 {
    color: #3976B8;
    font-size: 30px;
    margin-bottom: 0px;
}

.fdescription p {
    margin-top: 5px;
    color: #172B3A;
}